@charset "utf-8";
/* CSS Document */
/* Carousel */
.navbar{
background:rgba(255,255,255,0.25);
border: none;
background-color:#FFC
}
.navbar a{
	color: #b1aca1;
}
.container-fluid {
	margin-top:50px;
}
.a{
	margin-top:30px;
	margin-left: 80px;
}
.a span {
	display:inline-block;
	width:100px;
}
.noname, .noemail, .nofb{
	display:none;
	color:red;	
}
.footer{
	margin-top: 160px;
}
.footer .container{
	border-top:1px solid #999;
}
.footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
	padding-bottom:10px
}

.footer ul li{
    float:left;
}

.footer ul li a{
	color:#333;
    padding:20px;
}

.footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}
/*footer*/
 .bottommenu{
 	position: relative;
 	top:60px;
 }
 .bottomlogo{
 	text-align: center;
 }
 .dotlogo{
 	font-size: 12px;
 	color: #C59E47;
 	padding-right: 78px;
 	padding-left: 78px;
 }
 .bottommenu>ul{
 	 padding-left: 13%;
 	 padding-top: 49px;
 }
 .bottommenu>ul>li>a{
 	font-family: "OpenSans Regular";
 	font-size: 17px;
 	letter-spacing: 4px;
 	color: #191919;
 }
  .bottommenu>ul>li>a:hover{
  background-color: none;
  background: none;
  border: none;
  	font-family: "OpenSans Regular";
 	font-size: 17px;
 	letter-spacing: 4px;
 	color: #191919;
  }
  .bottomlinks{
  	border: 0px;
  }
  .bottomlinks>li>a{
  border: 0px;
  }
  .bottomlinks > li > a:hover,
.bottomlinks > li > a:focus {
  background-color: transparent;
  outline: none;
}
  .bottommenu>p{
  	text-align: center;
  	font-family: "OpenSans Regular";
  	font-size: 13px;
  	color: #707070;
  	padding-top: 105px;
  }
 .bottommenu>img{
 	padding-left:50%; 
 	margin-left: -20px;
 	margin-bottom: 35px;
 	margin-top: 54px;
 }
.bottomsocial{
	display: inline;
	padding-left: 50%;
	margin-left: -64px;
	font-size: 20px;
	color: #C59E47;

}
.bottomsocial>a{
	color: #C59E47;
	padding-right: 20px;
}
.bottomsocial>a:hover{
	color: #191919;
}
.bottomsocial>a>i{
	margin-bottom: 20px;
}
@media screen and (min-width:320px) and (max-width:359px){
	.bottommenu{
		top:30px;
	}
  	.bottommenu>p{
  		font-size: 12px;
  		padding-top: 20px;
  	}
  	.bottommenu>ul{
  		padding-left: 0px;
  	}
  	.bottomlinks>{
  		padding-left: 20px;

  	}
  	.bottomlinks>li>a{
  		

  	}
  	.bottomlinks>li{
  	float: none;
  text-align: center;
  		 
  	}
  	.bottommenu>img{
  		margin-bottom: 15px;
  		margin-top: 15px;
  	}
  	 .dotlogo{
 
 	padding-right: 15px;
 	padding-left: 15px;
 }
  }
 @media screen and (min-width:360px) and (max-width:480px){
  	.bottommenu>p{
  		font-size: 12px;
  		padding-top: 20px;
  	}
  	.bottommenu>ul{
  		padding-left: 20px;
  	}
  	.bottomlinks>{
  		padding-left: 20px;

  	}
  	.bottomlinks>li>a{
  		

  	}
  	.bottomlinks>li{
  	float: none;
  	text-align: center;
  		 
  	}
  	.bottommenu>img{
  		margin-bottom: 15px;
  		margin-top: 15px;
  	}
  	 .dotlogo{
 
 	padding-right: 15px;
 	padding-left: 15px;
 }
  }
 @media screen and (min-width: 481px) and (max-width: 1200px){
 .bottommenu>ul{
 	padding-left: 30px;
 	float: none;
 }
  	.dotlogo{
 
 	padding-right: 30px;
 	padding-left: 30px;
 }	
   	.bottomlinks>li{
  	float: none;
  	text-align: center;
  		 
  	}
  .bottommenu{
  	top:0px;
  }
 }
@font-face{
	font-family: "Roboto Light";
	src: url(../source/fonts/Roboto-Light.ttf) format("truetype");

}
.footer{
background-color: #191919;
color: #fff;
font-family: "Roboto Light";
font-size: 12px;

width: 100%;
height: 30px;
 
}
.copyright{
	float:left;
	padding-left: 10%;
	padding-top: 5px;
}
.atisda{
	float: right;
	padding-right: 10%;
	padding-top: 5px;
	text-decoration: none;
}
.copyright>a{
	color: #fff;
	border: 0px;
}
.copyright>a:hover{
 text-decoration: none;
}
.atisda>a{
	color: #d99735;
	border: 0px;
}
.atisda>a:hover{
	text-decoration: none;
}
 
@media screen and (max-width:600px){
	.footer{
		margin-top: 15px;
	}
	.copyright{
		float: none;
	text-align: center;
	padding: 0;
	padding-top: 5px;
	margin-bottom: 7px;
}
.atisda{
	float: none;
	text-align: center;
	padding: 0;
}
	 
	.footer>a:hover{
		color: #F97906;
	}
	.footer{
 
		height: 55px;
 
}
}
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
