@charset "utf-8";
/* CSS Document */
body {
	background-color: #FAFAFA;
}
	.container-fluid {
		  background: #FFF;
		  padding: 25px;
		  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		  margin:auto;
		  margin-top:150px;
		  width:50%;
		  border-radius:10px;
		  position:relative;
	}
	@register-email @register-password {
		width:90%;
	}
	.login {
		background:#5faed6;
		color:white;
		border-radius:5px;
		text-align:center;
		vertical-align:middle;
	}