@charset "utf-8";
/* CSS Document */
body {
	font-family:Lato;	
}
.container {
	margin-top:30px;	
}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
	background: #F03;
}

.header {
	border: 1px black solid;
    width: 500px;
    margin: auto;
    text-align: center;
	margin-top: 60px;	
}
.header p {
	font-weight: bold;
    font-size: 30px;	
	padding-top: 6px;
}

.daude {
	font-weight: bold;
    font-size: 20px;
    padding-left: 90px;
    border-bottom: 1px solid #d2cfcf;
    width: 85%;
    margin: auto;
    margin-top: 30px;	
}
.navbar, .dropdown-menu{
	background:rgba(255,255,255,0.25);
	border: none;
	background-color:#FFC
	}
.navbar a,.navbar-toggle{
 	color: #b1aca1;
}


.footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

.footer ul li{
    float:left;
}

.footer ul li a{
	color:#b1aca1;
    padding:20px;
}

.footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}
.footer {
	margin-top:50px;	
}