<<<<<<< HEAD


		#about-us h1{
			margin-top: 5%;
			text-align: center;
			font-size: 40px;
		}
		#about-us h2 {
		  display: block;
		  font-size: 40px;
		  margin-bottom: 10px;
		  width: 100%;
		  text-align: center
		}
		
		#about-us h3 {
		  display: block;
		  font-size: 30px;
		  margin-bottom: 10px;
		  width: 100%;
		  text-align: center
		}

		#about-us p {
		  display: block;
		  font-size: 20px;
		  font-weight: 100;
		  width: 100%;
		  text-align: justify
		}
=======
#about-us{
	font-family: "OpenSans-Light";
}

#about-us h1{
	margin-top: 5%;
	text-align: center;
	font-family: "OpenSans-Light";
	font-size: 40px;
}
#about-us h2 {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center
}

#about-us h3 {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center
}

#about-us p {
  display: block;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: center
}
.allcontain {
	margin-top:100px;	
}
>>>>>>> e305cf249df36becd7ea6cbe167b0248a72922b3
