@charset "utf-8";
/* CSS Document */
h1{
	text-align:center;
}
.img-last {
	width: 100%;
    border: 1px solid #C59E47;
    border-radius: 0px;
}
.filter{
	padding: 0;
}
.txtcontent {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(12,12,12,.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.txtcontent:hover{
	opacity: 1;
}

.stars {
    font-size: 7px;
    padding-top: 30px;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 2px solid #F6F6FB;
    margin-left: 58px;
    margin-right: 58px;
    color: #F6F6FB;
}

.simpletxt {
    text-align: center;
    border-top: 1px solid #F6F6FB;
    border-bottom: 1px solid #F6F6FB;
    margin-top: 2px;
    margin-left: 58px;
    margin-right: 58px;
    padding-top: 40px;
}

.simpletxt>h3 {
    font-family: "OpenSans Semibold";
    font-size: 13.6px;
    color: #E7E7E7;
    margin: 0px;
}

.simpletxt>h4 {
    font-family: "OpenSans Regular";
    font-size: 11.3px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding-bottom: 25px;
}

.wishtxt {
    padding-bottom: 42px;
}

.stars2 {
    font-size: 7px;
    padding-top: 10px;
    margin-top: 2px;
    text-align: center;
    border-top: 2px solid #F6F6FB;
    margin-left: 58px;
    margin-right: 58px;
    color: #F6F6FB;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #F36;
    border-radius: 5px;
    text-align: center;
    color: #F36;
    margin-bottom: 30px;
	margin-left:30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #F36;
    border-radius: 5px;
    text-align: center;
    color: #FFF ;
    background-color: #F36;

}
.btn-default:active .filter-button:active
{
    background-color: #FCC;
    color: white;
}
.btn1 {
	border-top:1px solid #CCC;
	margin:auto;
	text-align:center;
	width: 100%;
	padding-top:30px;
	
	}
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
	height:365px;
}
.gallery_product img {
	width:80%;	
}
.btn-default:focus {
	background-color: #FCC;
	color:#F00;
}
.allcontain {
	margin-top:80px;	
}
	

