@charset "utf-8";
/* CSS Document */

.navbar{
background:rgba(255,255,255,0.25);
border: none;
background-color:#FFC
}
#navbar a{
 color: #b1aca1;
}


.form-control{
	display:inline;
	width:90%;
	height:90%;
}
.logo{
	margin-top:7px;
	padding-left:8px;
}
.logo img{
	height: 40px;
}
.search{
	margin-top:-3px;
}
.lg{
	display:block;
	width:200px;
}
@media screen and (min-width:320px) and (max-width:359px){
	#hp{
		float:left !important;	
	}
}
@media screen and (min-width:360px) and (max-width:480px){
	#hp{
		float:left !important;	
	}
}
@media screen and (min-width:481px) and (max-width:880px){
	#hp{
		float:left !important;	
	}
}
@media screen and (min-width:881px) and (max-width:1200px){
	#hp{
		float:left !important;	
	}
}

.navbar-default {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	padding:0px;
	background:white;
	vertical-align:bottom;
}
.navbar-wrapper {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);	
}
